- var bootstrap = 'http://bootswatch.com/darkly/bootstrap.min.css';
- var jquery = 'https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js';
- var lodash = 'https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.0/lodash.min.js';
- var backbone = 'https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js';

html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href=bootstrap)
    script(src=jquery)
    script(src=lodash)
    script(src=backbone)

    // Custom styles override theme settings
    style.
      body  {
        background-color: #353540 !important;
      }
      .panel {
        background-color: #303035 !important;
      }
      input, select {
        color: #FFFFFF !important;
        background-color: #555562 !important;
      }
      .form-group {
        color: #4673a3 !important;
      }
      .btn-link:hover, .btn-link:focus, .btn-link:active{
        text-decoration:none !important;
        border: 1px solid;
        border-radius: 5px;
      }
      .divider24 {
        padding-top: 24px;
      }

  body
    include lib/nav
    .container
      .loading
        p.bg-success Wait. Loading data...
      .command.block
      .login.block
      .main.block
      .config.block
      .hardware.block
      .devices.block
      .device.block
      .tools.block
      .log.block
      .wifi.block
      .i2c.block
      .pager
        a(href="#").btn.btn-sm.btn-primary.pull-left &larr;
        a(href="#").btn.btn-sm.btn-primary.pull-right &rarr;
      .footer
          .progress
            .progress-bar(style='width:100%;')
        .well.well-sm.text-center
          a(href='http://www.esp8266.nu/index.php/Main_Page',target='_blank')
            span.label.label-primary ESPEasy
          | &nbsp;
          a(href='https://github.com/alexsuslov/ESPEasyUI',target='_blank')
            span.label.label-primary ESPEasyUI
          | &nbsp;
          a(href='https://play.google.com/store/apps/details?id=ru.esp8266.iotmanager',target='_blank')
            span.label.label-primary IoT Manager
          br
          .well-sm.text-center= footer
    include templates
    include lib/app
