include mixin

mixin pinState(id)
  +label Pin mode #{id}:
    select.form-control( name="p#{id}" )
      option(value="0") Default
      option(value="1") Output Low
      option(value="2") Output High

form.row(method="POST")
  fieldset.col-sm-6
    legend I²C Settings
      button.btn.btn-info.pull-right.btn-sm(type='submit') Update

    +label Wifi Status Led::
      select.form-control(name="pled")
        for gpio, i in gpios
          option(value=gpio)= labels[i]

    +label SDA:
      select.form-control(name="psda")
        for gpio, i in gpios
          option(value=gpio)= labels[i]
    +label SCL:
      select.form-control(name="pscl")
        for gpio, i in gpios
          option(value=gpio)= labels[i]
  fieldset.col-sm-6
    legend Pins state
      button.btn.btn-info.pull-right.btn-sm(type='submit') Update
      for gpio in gpios
        if gpio >=0
          +pinState(gpio)

