//- #####   ##    ####  #    #
//-   #    #  #  #      #   #
//-   #   #    #  ####  ####
//-   #   ######      # #  #
//-   #   #    # #    # #   #
//-   #   #    #  ####  #    #

script(
  type='text/x-template'
  task='13')
    include ina219

script(
  id='HC-SR04'
  type='text/x-template'
  task='13')
  include hc-sr04

script(
  id='MLX90614'
  type='text/x-template'
  task='24')
  include mlx90614

script(
  id='DS18b20'
  type='text/x-template'
  task='4')
  include ds18b20


script(
  id='BMP085'
  type='text/x-template'
  task='6')
  include bmp085

script(
  id='SI7021'
  type='text/x-template'
  task='14')
  include si7021

script(
  id='DHT'
  type='text/x-template'
  task='5')
  include dht

script(
  id='BME280'
  type='text/x-template'
  task='28')
  include bme280

script(
  id='System'
  type='text/x-template'
  task='26')
  include system

script(
  id='PCF8574'
  type='text/x-template'
  task='9')
  include pcf8574

script(
  id='MCP23017'
  type='text/x-template'
  task='9')
  include mcp23017

script(
  id='Switch'
  type='text/x-template'
  task='1')
    include sw

script(
  id='Serial'
  type='text/x-template'
  task='20')
    include serial


script(
  id='Wiegand'
  type='text/x-template'
  task='8')
  include wiegand

script(
  id='PN532'
  type='text/x-template'
  task='17')
  include pn532


script(
  id='Pulse'
  type='text/x-template'
  task='3')
  include pulse

script(
  id='ProMini'
  type='text/x-template'
  task='11')
  include promini

script(
  id='PCA9685'
  type='text/x-template'
  task='22')
  include pca9685


script(
  id='TLS2561'
  type='text/x-template'
  task='15')
  include tls2561


script(
  id='BH1750'
  type='text/x-template'
  task='10')
  include bh1750


script(
  id='level'
  type='text/x-template'
  task='21')
  include level


script(
  id='TSOP4838'
  type='text/x-template'
  task='16')
  include tsop4838

script(
  id='GP2Y10'
  type='text/x-template'
  task='18')
  include gp2y10

script(
  id='SSD1306'
  type='text/x-template'
  task='23')
    include ssd1306

script(
  id='LCD2004'
  type='text/x-template'
  task='12')
    include lcd2004

script(
  id='PCF8591'
  type='text/x-template'
  task='7')
    include pcf8591

script(
  id='ADS1115'
  type='text/x-template'
  task='25')
    include ads1115

script(
  id='Analoginput'
  type='text/x-template'
  task='2')
    include analog
